/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-oct-2016, 12:54:41
    Author     : Rubén Soler
*/
*{
    box-sizing: border-box;
}
html, body{
    font-family: Raleway, Arial, Helvetica, serif;
    margin: 0;
}

.container{
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
    position:relative;
    width:1124px;
}

.title{
    text-align: center;
    margin-bottom: 20px;
    width:100%;
    padding:10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: initial;
    background-color: black;
    color:white;
}

.cart{
    display: block;
    margin-top: 50px;
}

.cart__item{
    float: left;
    padding: 0px;
    margin:10px;
    border:1px solid black;
    border-radius: 5px;
    width:335px;
    cursor:pointer;
}

.item__header{
    text-align: center;
    font-size: 25px;
    color:yellowgreen;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
    margin:0;
}

.item__body{
     text-align: center;
}

.item__body__image{
     width:300px;
     height: 300px;
     border: 2px dashed #CCC;
     margin:15px;
}

.item__footer{
    text-align: center;
    font-size: 25px;
    position: relative;
    bottom:0;
    color:white;
    background-color: black;
    margin:0;
}
.item_footer_label{
    margin:0;
    font-size: 16px;
    
}
.item__footer__price{
    color:yellowgreen;
    margin-left: 10px;
    font-size: 35px;
}
.item__footer__price:after{
    content:" €";
    color:grey;
    font-size: 16px;
}

.cart-list{
    padding:10px;
    width: 400px;
    border: 2px dashed #CCC;
}

.cart-list__item__image{
    width:80px;
    heigth:80px;
}


